.App {
  text-align: center;
}

.time-box{
  width: 100%;
  height: 200px;
  background-color: rgb(179, 174, 174);
  /* border: 5px solid red; */
  /* padding-left: 200px;
  padding-right: 200px; */
  align-content: center;
}
